/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-brand {
  width: 350px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
#dygraph {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 150px;
  bottom: 20px;
}
.dygraph-legend {
  background-color: rgba(200, 200, 255, 0.75) !important;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #888;
  pointer-events: none;
}
footer {
  bottom:0px;
  position:absolute;
  width:99%;
  text-align:center;
  font-size:8px;
  padding-bottom:5px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  #dygraph {
    top: 60px;
  }
}
.main .page-header {
  margin-top: 0;
}
#timeframe .slider-selection {
    background: #BABABA;
}
#navbar > div {
  padding-top: 15px;
  color: #fff;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background:#eee;
    height:28px;
    margin-top: 0px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background:grey;
    height:26px;
    width:10px;
}

